@tailwind base;
@tailwind components;
@tailwind utilities;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
  }

  body {
    padding-top: 3.3rem;
  }

input:focus,
input:hover{
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea;
}
  
  h1, h2, h3, h4 {
    margin: 0;
  }
  
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  button {
    cursor: pointer;
    border: none;
    box-sizing: border-box;
  }

  button:disabled {
    opacity: 0.5;
    cursor: wait;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }  
